.toolbar {
    background: #fa2e2e;
    top: 0;
    left: 0;
    width: 100%;
    /* position: fixed; */
    height: 56px;
}

.toolbar_navigation {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}
.toolbar_logo {
    margin-left: 1rem;
}
.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar_navigation_items a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation_items li {
    padding: 0 0.5rem;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
    color: orange;
}